body {
    background-color: gainsboro;
    margin: auto;
    width: 50%;
    clear: both;
}
#wrapper{
    width:100%;
    border-radius: 10px;
    border:solid;
    border-color:white;
    

}
a {
    text-decoration: none;
}

    a:link, a:visited {
    }

    a:hover, a:active {
    }

.mainheader nav {
    background-color: red;
    height: 40px;
    border-radius: 5px;
}

    .mainheader nav ul {
        list-style: none;
        margin: auto;
    }

        .mainheader nav ul li {
            float: left;
            display: inline;
        }
         .mainheader nav a:link, .mainheader nav a:visited {
        color: black;
        display: inline-block;
        padding: 5px 25px;
        height: 20px;
    }

    .mainheader nav a:hover, .mainheader nav a:active, .mainheader nav .active a:link, .mainheader nav .active a:visited {
        background-color: azure;
        text-shadow: none;
    }
    .toparticle {
        width: 60%;
        border-radius: 5px;
        background-color:white;
        
    }

#footer{
    width:100%;
    background-color: white;
    clear: both;
    padding-left:1px;
    
}
.flip3D {
    width: 240px;
    height: 200px;
    float: left;
}

    .flip3D #front {
        position: absolute;
        transform: perspective(600px) rotateY(0deg);
        background: red;
        width: 140px;
        height: 100px;
        border-radius: 7px;
        backface-visibility: hidden;
        transition: transform .5s linear 0s;
        box-shadow: 2px 6px 14px -1px;
        box-shadow: 2px 6px 14px -1px;
        box-shadow: 2px 6px 14px -1px;
    }

    .flip3D #back {
        position: absolute;
        transform: perspective(600px) rotateY(180deg);
        background: #b6ff00;
        width: 240px;
        height: 200px;
        border-radius: 7px;
        backface-visibility: hidden;
        transition: transform .5s linear 0s;
        box-shadow: 2px 6px 14px -1px;
        box-shadow: 2px 6px 14px -1px;
        box-shadow: 2px 6px 14px -1px;
        
    }

    .flip3D:hover #front {
        transform: perspective(600px) rotateY(-180deg);
    }

    .flip3D:hover #back {
        transform: perspective(600px) rotateY(0deg);
    }
   .inner-first{
       width:200px;
   }
   .first img{
       width:740px;
   }
  .topside{
      border-radius: 5px;
      background-color: white;
      width: 240px;
      margin:5px;
      
  }
 
#knapp1 {
    margin-left: 13%;
    margin-top: 1%;
    border: 2px;
    border-style: solid;
    border-radius: 20px;
    border-color: silver;
    width: 5%;
    height: 2%;
}

#mobilram {
    border: 2px;
    border-style: solid;
    border-radius: 25px;
    border-color: silver;
    width: 325px;
    height: 600px;
    background-color: white;
}

#kamera {
    border: 6px;
    border-style: solid;
    border-radius: 100%;
    width: 1px;
    height: 1px;
    margin-top: 5%;
    margin-left: 45%;
}

#hogtalare {
    border: 1px;
    border-style: solid;
    border-radius: 25%;
    width: 50px;
    height: 4px;
    background-color: black;
    margin-top: 10px;
    margin-left: 40%;
    margin-bottom: 10px;
}

#sencor {
    border-style: solid;
    border-radius: 100%;
    width: 1px;
    height: 1px;
    margin-top: 10px;
    margin-left: 35%;
}

#skarmram {
    border: 1px;
    border-style: solid;
    border-radius: 2%;
    margin: auto;
    width: 280px;
    height: 460px;
    border-color: black;
}
#skarmram img{
    width: 279px;
    height:459px;
    border-radius:2%;
    overflow:hidden;
}
.box div {
    float: left;
    border: 1px;
    border-style: solid;
    border-radius: 30%;
    width: 45px;
    height: 45px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 5px;
}

#homeknapp {
    border: 1px;
    border-style: solid;
    border-radius: 100%;
    width: 18%;
    height: 9%;
    margin: auto;
    margin-top: 1%;
}
  
@media only screen and (max-width: 768px) {
    body {
        width: 95%;
        font-size: 95%;
        background-color:yellow;
    }

    .mainheader nav {
        height: 40px;
    }
        .mainheader nav ul {
            padding-left: 0;
        }
            .mainheader nav ul li {
                width: 15%;
            }
        .mainheader nav a:link, .mainheader nav a:visited {
            padding: 5px 25px;
            height: 20px;
        }
    .toparticle {
        width: 55%;
    }
    .inner-first{
       width:100px;
   }
   .first img{
       width:768px;
   }
}
 @media only screen and (max-width: 480px) {
    body {
        width: 95%;
        font-size: 95%;
        background-color:blue;
    }

    .mainheader nav {
        height: 160px;
    }

        .mainheader nav ul {
            padding-left: 0;
        }

            .mainheader nav ul li {
                width: 100%;
                text-align: center;
            }

        .mainheader nav a:link, .mainheader nav a:visited {
            padding: 5px 25px;
            height: 20px;
        }
    .toparticle {
        width: 100%;
        background-color:white;
        border-radius:5px;
    }
    #toparticle img{
        float:left;
    }
    .inner-first{
       width:100px;
   }
   .first img{
       width:480px;
   }
}



