body {
    background-color: whitesmoke;
}
#wrapper{
    background-color: antiquewhite;
    max-width: 960px;
    min-width: 600px;
    margin: 30px: auto;
    border: 5px solid black;
    padding: 50px;
    outline: 10px dotted purple;
}
img{
    width:300px;
    height:300px;
    border-radius: 50%;

}
article{
    width: 680px;
    background-color: red;
    float:left;
    margin-right:5px;
    padding: 5px;
    border: 10px solid green;
}
aside{
    width: 220px;
    background-color: mediumpurple;
    padding: 10px;
    float:left;
}
footer{
    clear:both;
}
/*header{
    background-color: aliceblue;
        width: 1560px;
        border-radius: 24px;

}*/


li {
    font-size: 10px;
   list-style-image:
       url(/images/button.png)
}
