body {
    background-color: gainsboro;
}
#wrapper{
    background-color: gainsboro;
    max-width: 1200px;
    min-width: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    padding: 5px;
    outline: 5px white;
    
}
header {
    background-image: url('../images/Fotor0519124239.jpg');
    background-color: hotpink;
    width: 1200px;
    height: 120px;
}
article {
    background-image: url('../images/Fotor051912379.jpg');
    background-color: black;
    width: 960px;
    height: 300px;
    margin: 5px;
    color: white;
}
aside{
    background-color: blue;
    width: 140px;
    height: 60px;
    float: right;
}
form{
    float: left;
    color:white;
    margin: 5px;
    padding: 10px;
}
input{
    margin: 5px;
}
footer{
    background-color: white;
    width: 1200px;
    height: 30px;
    clear:both;
}
#marg{
   
    
}
checkbox{

}
#skicka{
    float:right;
    box-decoration-break: slice;
}

