body {
}

.flip3D {
    width: 240px;
    height: 200px;
    float: left;
}

    .flip3D #front {
        position: absolute;
        transform: perspective(600px) rotateY(0deg);
        background: red;
        width: 140px;
        height: 100px;
        border-radius: 7px;
        backface-visibility: hidden;
        transition: transform .5s linear 0s;
        box-shadow: 2px 6px 14px -1px;
        box-shadow: 2px 6px 14px -1px;
        box-shadow: 2px 6px 14px -1px;
    }

    .flip3D #back {
        position: absolute;
        transform: perspective(600px) rotateY(180deg);
        background: #b6ff00;
        width: 240px;
        height: 200px;
        border-radius: 7px;
        backface-visibility: hidden;
        transition: transform .5s linear 0s;
        box-shadow: 2px 6px 14px -1px;
        box-shadow: 2px 6px 14px -1px;
        box-shadow: 2px 6px 14px -1px;
    }

    .flip3D:hover #front {
        transform: perspective(600px) rotateY(-180deg);
    }

    .flip3D:hover #back {
        transform: perspective(600px) rotateY(0deg);
    }
