body {
    background-color: gainsboro;
    margin:auto;
    width:80%;
    clear:both;
}
a{
    text-decoration: none;
}
a:link, a:visited{

}
a:hover, a:active{

}
.mainheader nav{
    background-color:red;
    height:40px;
    border-radius:5px;
}
.mainheader nav ul{
    list-style:none;
    margin:auto;

}
.mainheader nav ul li{
    float:left;
    display:inline;
}
.mainheader nav a:link, .mainheader nav a:visited {
        color: black;
        display: inline-block;
        padding: 5px 25px;
        height: 20px;
    }
.mainheader nav a:hover, .mainheader nav a:active, .mainheader nav .active a:link, .mainheader nav .active a:visited{
background-color: azure;
text-shadow: none;
}
/*.maincontent{
    line-height:25px;
    border-radius:5px;

}*/

.toparticle{
    width:50%;
    background-color:white;
    border-radius: 5px;
    padding:5% 5%;
    margin-top:5px;
}
.topside{
    
    border-color: white;
    float:left;
   width:20%;
   
}
.middleside{
    
    border-color: white;
    float:left;
    
}
.bottomside{
    border-color: white;
    float:left;
    
}
.footer{
    background-color: white;
    clear:both;
}
/*@media screen and (max-width: 959px){
    #header{
        width:100%;
}
    #article{
        width:70%;
    }
   #footer{
        width:30%;
    }
    img{
        width:100%;
    }
}
/*640px är för telefoner source command kan läsa tydligare och pattern kollummerna blir bättre*/
/*@media screen and (max-width: 640px) {
    #article{
        width:100%;
    }
    #footer{
        width:100%;
    }
}
@media screen and (max-width: 959px) {
    #header{
        width:320px;
    }
}*/*/
