body {
    background-color: gainsboro;
    margin: auto;
    width: 50%;
    clear: both;
}
a {
    text-decoration: none;
}

    a:link, a:visited {
    }

    a:hover, a:active {
    }

.mainheader nav {
    background-color: red;
    height: 40px;
    border-radius: 5px;
}

    .mainheader nav ul {
        list-style: none;
        margin: auto;
    }

        .mainheader nav ul li {
            float: left;
            display: inline;
        }
         .mainheader nav a:link, .mainheader nav a:visited {
        color: black;
        display: inline-block;
        padding: 5px 25px;
        height: 20px;
    }

    .mainheader nav a:hover, .mainheader nav a:active, .mainheader nav .active a:link, .mainheader nav .active a:visited {
        background-color: azure;
        text-shadow: none;
    }
    .toparticle {
        width: 50%;
        border-radius: 5px;
        background-color:white;
    }

#footer{
    width:100%;
    background-color: white;
    clear: both;
    
}
@media only screen and (max-width: 800px) {
    body {
        width: 95%;
        font-size: 95%;
        background-color:yellow;
    }

    .mainheader nav {
        height: 160px;
    }

        .mainheader nav ul {
            padding-left: 0;
        }

            .mainheader nav ul li {
                width: 100%;
                text-align: center;
            }

        .mainheader nav a:link, .mainheader nav a:visited {
            padding: 5px 25px;
            height: 20px;
        }
    .toparticle {
        width: 55%;
    }
}
 @media only screen and (max-width: 480px) {
    body {
        width: 95%;
        font-size: 95%;
        background-color:blue;
    }

    .mainheader nav {
        height: 160px;
    }

        .mainheader nav ul {
            padding-left: 0;
        }

            .mainheader nav ul li {
                width: 100%;
                text-align: center;
            }

        .mainheader nav a:link, .mainheader nav a:visited {
            padding: 5px 25px;
            height: 20px;
        }
    .toparticle {
        width: 100%;
        background-color:white;
        border-radius:5px;
    }
}



